body {
    background:url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;      
    background-position:50% 50%;
}

.content-wrap {
  opacity: 0.9;
}

.sidebar {
  opacity: 0.9;
}

.header-inner {
  background: rgba(255,255,255,0.9);
}

.popup {
  opacity: 0.9;
}
